@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

/*---------INDEX-----------*/
body {
  background-color: #d6d5d5; }

.main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#mainhe {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1; }
  #mainhe #boton-menu {
    position: absolute;
    top: 30px;
    left: 50px;
    font-family: "Poppins", sans-serif;
    color: #363636;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-duration: 1s; }
    #mainhe #boton-menu:hover {
      color: red; }
    #mainhe #boton-menu img {
      width: 25px;
      height: 25px; }
  #mainhe #menu {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: -100%;
    width: 30%;
    height: 500vh;
    transition: 1s ease-out; }
    #mainhe #menu ul {
      list-style: none; }
      #mainhe #menu ul li {
        display: grid;
        margin-top: 100px; }
        #mainhe #menu ul li a {
          padding-right: 50px;
          font-family: "Poppins", sans-serif;
          text-decoration: none;
          color: transparent;
          border-right: solid 2px red;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #363636;
          font-size: 45px;
          font-weight: 800;
          transition-duration: 1s; }
          #mainhe #menu ul li a:hover {
            color: #363636; }
      #mainhe #menu ul div {
        margin-top: 150px;
        display: flex;
        justify-content: space-evenly; }
        #mainhe #menu ul div a #git {
          padding: 10px;
          width: 80px;
          height: 80px;
          transition: 0.25s;
          border-radius: 50px; }
          #mainhe #menu ul div a #git:hover {
            transform: scale(1.1);
            background-color: rgba(0, 0, 0, 0.459);
            animation: contact 0.4s linear; }
        #mainhe #menu ul div a #linkedin {
          padding: 10px;
          width: 80px;
          height: 80px;
          transition: 0.25s; }
          #mainhe #menu ul div a #linkedin:hover {
            transform: scale(1.1);
            animation: contact 0.4s linear; }

@keyframes contact {
  40% {
    transform: scale(1.4); }
  60% {
    transform: scale(0.8); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
    #mainhe #menu #salirmenu {
      transition: 1s ease-in-out; }
      #mainhe #menu #salirmenu img {
        width: 25px;
        height: 25px; }

#menu #Principio {
  height: 1000px;
  display: grid;
  justify-content: center;
  align-items: center; }
  #menu #Principio h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 70px;
    padding-bottom: 10px; }
  #menu #Principio .izquierda {
    margin-right: 300px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 90px;
    animation: desplegarI 2s ease-in-out; }

@keyframes desplegarI {
  0% {
    margin-right: 800px; }
  100% {
    margin-right: 300px; } }
  #menu #Principio .derecha {
    margin-left: 300px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 90px;
    animation: desplegarD 2s ease-in-out; }

@keyframes desplegarD {
  0% {
    margin-left: 800px; }
  100% {
    margin-left: 300px; } }
  #menu #Principio h3 {
    padding: 50px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 70px; }

#menu #Education {
  height: 800px;
  display: none;
  justify-content: space-around;
  align-items: center; }
  #menu #Education .izqui {
    display: flex;
    flex-direction: column;
    border-left: 2px solid red;
    padding: 20px; }
    #menu #Education .izqui div {
      display: flex;
      padding: 20px; }
      #menu #Education .izqui div img {
        width: 70px;
        height: 70px; }
      #menu #Education .izqui div p {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        width: 350px;
        margin-left: 20px; }
  #menu #Education .dere {
    display: flex;
    flex-direction: column;
    border-left: 2px solid red;
    padding: 20px; }
    #menu #Education .dere div {
      display: flex;
      padding: 20px; }
      #menu #Education .dere div img {
        width: 70px;
        height: 70px; }
      #menu #Education .dere div p {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        width: 350px;
        margin-left: 20px; }

#menu #Experience {
  display: none;
  justify-content: flex-start;
  align-items: center;
  height: 800px;
  padding: 50px; }
  #menu #Experience .divtraba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px; }
    #menu #Experience .divtraba #trabajo2 a {
      font-family: "Poppins", sans-serif;
      color: #363636;
      font-size: 30px;
      font-weight: 500;
      text-decoration: none; }
      #menu #Experience .divtraba #trabajo2 a span {
        padding: 30px;
        font-family: "Poppins", sans-serif;
        color: red;
        font-size: 30px; }
    #menu #Experience .divtraba #trabajo2 #trabajo2p {
      display: none;
      width: 800px;
      padding: 10px;
      margin-left: 75px;
      font-family: "Poppins", sans-serif;
      font-size: 40px;
      font-weight: 600;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #363636; }
    #menu #Experience .divtraba #trabajo3 a {
      font-family: "Poppins", sans-serif;
      color: #363636;
      font-size: 30px;
      font-weight: 500;
      text-decoration: none; }
      #menu #Experience .divtraba #trabajo3 a span {
        padding: 30px;
        font-family: "Poppins", sans-serif;
        color: red;
        font-size: 30px; }
    #menu #Experience .divtraba #trabajo3 #trabajo3p {
      display: none;
      width: 800px;
      padding: 10px;
      margin-left: 75px;
      font-family: "Poppins", sans-serif;
      font-size: 40px;
      font-weight: 600;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #363636; }

#menu #Jobs {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 1000px; }
  #menu #Jobs h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    font-weight: 600;
    color: #363636; }
  #menu #Jobs #parte1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px; }
    #menu #Jobs #parte1 #pachux {
      background-image: url(../img/cafe.jpg);
      background-size: cover;
      background-position: center;
      width: 700px;
      height: 400px;
      transition-duration: 1s; }
      #menu #Jobs #parte1 #pachux:hover {
        background: rgba(255, 0, 0, 0.39); }
      #menu #Jobs #parte1 #pachux #pachuxcont {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%; }
        #menu #Jobs #parte1 #pachux #pachuxcont h1 {
          font-size: 30px; }
        #menu #Jobs #parte1 #pachux #pachuxcont p {
          text-align: center;
          width: 80%;
          font-family: "Poppins", sans-serif; }
        #menu #Jobs #parte1 #pachux #pachuxcont button {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 15px;
          width: 80px;
          border-radius: 15px;
          border: none;
          cursor: pointer; }
    #menu #Jobs #parte1 #arquiaires {
      background-image: url(../img/edificios.jpg);
      background-size: cover;
      background-position: center;
      width: 700px;
      height: 400px;
      transition-duration: 1s; }
      #menu #Jobs #parte1 #arquiaires:hover {
        background: rgba(255, 0, 0, 0.514); }
      #menu #Jobs #parte1 #arquiaires #arquicont {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%; }
        #menu #Jobs #parte1 #arquiaires #arquicont h1 {
          font-size: 30px; }
        #menu #Jobs #parte1 #arquiaires #arquicont p {
          text-align: center;
          width: 80%;
          font-family: "Poppins", sans-serif; }
        #menu #Jobs #parte1 #arquiaires #arquicont button {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 15px;
          width: 80px;
          border-radius: 15px;
          border: none;
          cursor: pointer; }

#menu #AboutMe {
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 800px; }
  #menu #AboutMe div h1 {
    color: #363636;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    text-align: left;
    padding: 20px; }
  #menu #AboutMe div h2 {
    color: #363636;
    border-left: 3px solid red;
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    text-align: left;
    padding: 20px;
    width: 700px; }
  #menu #AboutMe div h3 {
    color: #363636;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    border-left: 3px solid red;
    font-size: 30px;
    width: 700px; }
  #menu #AboutMe img {
    width: 400px;
    height: 500px;
    filter: blur(1px);
    transition: transform 1s ease; }
    #menu #AboutMe img:hover {
      transform: scale(1.1);
      filter: blur(0px); }

.mainTres {
  height: 750px; }
  .mainTres p {
    margin-left: 80px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    text-align: left;
    text-decoration: underline;
    color: #363636; }
  .mainTres .contenedor1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px; }
    .mainTres .contenedor1 .habilidades img {
      width: 140px;
      height: 140px;
      padding: 10px;
      transition-duration: 0.5s; }
      .mainTres .contenedor1 .habilidades img:hover {
        margin-bottom: 80px; }

.contenedor2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px; }
  .contenedor2 .habilidades img {
    width: 140px;
    height: 140px;
    padding: 10px;
    transition-duration: 0.5s; }
    .contenedor2 .habilidades img:hover {
      margin-bottom: 80px; }

/*---------FOOTER-----------*/
#footer h1 {
  color: #363636;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 30px;
  text-decoration: overline; }

#footer .contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: mover 15s linear infinite; }

@keyframes mover {
  0% {
    transform: translateX(135%); }
  100% {
    transform: translateX(-135%); } }
  #footer .contacto h1 {
    text-decoration: none;
    color: rgba(54, 54, 54, 0.068); }
    #footer .contacto h1 a {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 80px;
      list-style: none;
      color: #363636;
      text-decoration: none;
      filter: opacity(30%);
      transition-duration: 1s; }
      #footer .contacto h1 a:hover {
        filter: opacity(100%); }
  #footer .contacto img {
    width: 60px;
    height: 50px; }

#footer .derechos {
  background-color: #d6d5d5; }
  #footer .derechos p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #363636;
    padding: 20px; }
