@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*---------HEADER-----------*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: brown; }
  .header ul {
    list-style: none; }
    .header ul li a {
      padding-right: 100px;
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
      color: white;
      font-size: 20px; }

/*---------INDEX-----------*/
#mainUno {
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 800px; }
  #mainUno div h1 {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    text-align: left;
    padding: 20px; }
  #mainUno div h2 {
    border-left: 1px solid brown;
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    text-align: left;
    padding: 20px;
    width: 700px; }
  #mainUno div h3 {
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    border-left: 1px solid brown;
    font-size: 30px;
    width: 700px; }
  #mainUno img {
    width: 400px;
    height: 500px;
    box-shadow: 7px 5px 37px -1px #050200;
    -webkit-box-shadow: 7px 5px 37px -1px black;
    -moz-box-shadow: 7px 5px 37px -1px black;
    filter: blur(1px);
    transition: transform 1s ease-in-out; }
    #mainUno img:hover {
      transform: scale(1.1);
      filter: blur(0px); }

.mainTres {
  border-top: 1px solid black;
  height: 800px; }
  .mainTres p {
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    text-align: center;
    color: #771e1e; }
  .mainTres .SkillsPrimero {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .mainTres .SkillsPrimero .s1 {
      background: linear-gradient(white 50%, brown 50%);
      position: relative;
      transform: rotate(90deg); }
      .mainTres .SkillsPrimero .s1, .mainTres .SkillsPrimero .s1::before, .mainTres .SkillsPrimero .s1::after {
        width: 180px;
        height: 180px;
        border-radius: 50%; }
      .mainTres .SkillsPrimero .s1::before, .mainTres .SkillsPrimero .s1::after {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-family: "Montserrat", sans-serif; }
      .mainTres .SkillsPrimero .s1:before {
        transform: rotate(-90deg);
        content: "HTML";
        background: white content-box;
        padding: 10px;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 140px; }
      .mainTres .SkillsPrimero .s1:after {
        content: "60%";
        background: linear-gradient(transparent 50%, white 50%);
        transform: scale(1.1) rotate(-90deg);
        font-size: 20px;
        line-height: 220px; }
    .mainTres .SkillsPrimero .s2 {
      background: linear-gradient(white 50%, brown 50%);
      position: relative;
      transform: rotate(90deg); }
      .mainTres .SkillsPrimero .s2, .mainTres .SkillsPrimero .s2::before, .mainTres .SkillsPrimero .s2::after {
        width: 180px;
        height: 180px;
        border-radius: 50%; }
      .mainTres .SkillsPrimero .s2::before, .mainTres .SkillsPrimero .s2::after {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-family: "Montserrat", sans-serif; }
      .mainTres .SkillsPrimero .s2:before {
        transform: rotate(-90deg);
        content: "CSS";
        background: white content-box;
        padding: 10px;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 140px; }
      .mainTres .SkillsPrimero .s2:after {
        content: "60%";
        background: linear-gradient(transparent 50%, white 50%);
        transform: scale(1.1) rotate(-90deg);
        font-size: 20px;
        line-height: 220px; }
    .mainTres .SkillsPrimero .s3 {
      background: linear-gradient(white 50%, brown 50%);
      position: relative;
      transform: rotate(90deg); }
      .mainTres .SkillsPrimero .s3, .mainTres .SkillsPrimero .s3::before, .mainTres .SkillsPrimero .s3::after {
        width: 180px;
        height: 180px;
        border-radius: 50%; }
      .mainTres .SkillsPrimero .s3::before, .mainTres .SkillsPrimero .s3::after {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-family: "Montserrat", sans-serif; }
      .mainTres .SkillsPrimero .s3:before {
        transform: rotate(-90deg);
        content: "JS";
        background: white content-box;
        padding: 10px;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 140px; }
      .mainTres .SkillsPrimero .s3:after {
        content: "60%";
        background: linear-gradient(transparent 50%, white 50%);
        transform: scale(1.1) rotate(-90deg);
        font-size: 20px;
        line-height: 220px; }
    .mainTres .SkillsPrimero .s4 {
      background: linear-gradient(white 50%, brown 50%);
      position: relative;
      transform: rotate(90deg); }
      .mainTres .SkillsPrimero .s4, .mainTres .SkillsPrimero .s4::before, .mainTres .SkillsPrimero .s4::after {
        width: 180px;
        height: 180px;
        border-radius: 50%; }
      .mainTres .SkillsPrimero .s4::before, .mainTres .SkillsPrimero .s4::after {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-family: "Montserrat", sans-serif; }
      .mainTres .SkillsPrimero .s4:before {
        transform: rotate(-90deg);
        content: "GIT";
        background: white content-box;
        padding: 10px;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 140px; }
      .mainTres .SkillsPrimero .s4:after {
        content: "60%";
        background: linear-gradient(transparent 50%, white 50%);
        transform: scale(1.1) rotate(-90deg);
        font-size: 20px;
        line-height: 220px; }
  .mainTres .SkillsSegundo {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .mainTres .SkillsSegundo .s5 {
      background: linear-gradient(white 50%, brown 50%);
      position: relative;
      transform: rotate(90deg); }
      .mainTres .SkillsSegundo .s5, .mainTres .SkillsSegundo .s5::before, .mainTres .SkillsSegundo .s5::after {
        width: 180px;
        height: 180px;
        border-radius: 50%; }
      .mainTres .SkillsSegundo .s5::before, .mainTres .SkillsSegundo .s5::after {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-family: "Montserrat", sans-serif; }
      .mainTres .SkillsSegundo .s5:before {
        transform: rotate(-90deg);
        content: "AI";
        background: white content-box;
        padding: 10px;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 140px; }
      .mainTres .SkillsSegundo .s5:after {
        content: "60%";
        background: linear-gradient(transparent 50%, white 50%);
        transform: scale(1.1) rotate(-90deg);
        font-size: 20px;
        line-height: 220px; }
    .mainTres .SkillsSegundo .s6 {
      background: linear-gradient(white 50%, brown 50%);
      position: relative;
      transform: rotate(90deg); }
      .mainTres .SkillsSegundo .s6, .mainTres .SkillsSegundo .s6::before, .mainTres .SkillsSegundo .s6::after {
        width: 180px;
        height: 180px;
        border-radius: 50%; }
      .mainTres .SkillsSegundo .s6::before, .mainTres .SkillsSegundo .s6::after {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-family: "Montserrat", sans-serif; }
      .mainTres .SkillsSegundo .s6:before {
        transform: rotate(-90deg);
        content: "PS";
        background: white content-box;
        padding: 10px;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 140px; }
      .mainTres .SkillsSegundo .s6:after {
        content: "60%";
        background: linear-gradient(transparent 50%, white 50%);
        transform: scale(1.1) rotate(-90deg);
        font-size: 20px;
        line-height: 220px; }
    .mainTres .SkillsSegundo .s7 {
      background: linear-gradient(white 50%, brown 50%);
      position: relative;
      transform: rotate(90deg); }
      .mainTres .SkillsSegundo .s7, .mainTres .SkillsSegundo .s7::before, .mainTres .SkillsSegundo .s7::after {
        width: 180px;
        height: 180px;
        border-radius: 50%; }
      .mainTres .SkillsSegundo .s7::before, .mainTres .SkillsSegundo .s7::after {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-family: "Montserrat", sans-serif; }
      .mainTres .SkillsSegundo .s7:before {
        transform: rotate(-90deg);
        content: "PR";
        background: white content-box;
        padding: 10px;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 140px; }
      .mainTres .SkillsSegundo .s7:after {
        content: "60%";
        background: linear-gradient(transparent 50%, white 50%);
        transform: scale(1.1) rotate(-90deg);
        font-size: 20px;
        line-height: 220px; }
    .mainTres .SkillsSegundo .s8 {
      background: linear-gradient(white 50%, brown 50%);
      position: relative;
      transform: rotate(90deg); }
      .mainTres .SkillsSegundo .s8, .mainTres .SkillsSegundo .s8::before, .mainTres .SkillsSegundo .s8::after {
        width: 180px;
        height: 180px;
        border-radius: 50%; }
      .mainTres .SkillsSegundo .s8::before, .mainTres .SkillsSegundo .s8::after {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-family: "Montserrat", sans-serif; }
      .mainTres .SkillsSegundo .s8:before {
        transform: rotate(-90deg);
        content: "MS";
        background: white content-box;
        padding: 10px;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 140px; }
      .mainTres .SkillsSegundo .s8:after {
        content: "60%";
        background: linear-gradient(transparent 50%, white 50%);
        transform: scale(1.1) rotate(-90deg);
        font-size: 20px;
        line-height: 220px; }

/*---------FOOTER-----------*/
#footer {
  border-top: 1px solid black;
  background-color: #c09393; }
  #footer h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 30px;
    text-decoration: overline; }
  #footer .contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px; }
    #footer .contacto .redes {
      margin-right: 300px; }
      #footer .contacto .redes h2 {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 20px; }
      #footer .contacto .redes a img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        float: inherit;
        margin-top: 15px;
        margin-left: 15px; }
    #footer .contacto .telefono {
      text-align: center; }
      #footer .contacto .telefono h3 {
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 20px;
        padding: 15px; }
      #footer .contacto .telefono h4 {
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 20px; }
    #footer .contacto .mail {
      margin-left: 200px; }
      #footer .contacto .mail h5 {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        text-align: center;
        padding: 20px; }
      #footer .contacto .mail h6 {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 20px; }
  #footer .derechos {
    background-color: brown; }
    #footer .derechos p {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      text-align: center;
      color: white;
      padding: 20px; }
