/*---------FOOTER-----------*/
#footer {
  h1 {
    color: rgb(54, 54, 54);
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 30px;
    text-decoration: overline;
  }
  .contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: mover 0s linear infinite; /*15*/
    @keyframes mover {
      0% {
        transform: translateX(135%);
      }
      100% {
        transform: translateX(-135%);
      }
    }
    h1 {
      text-decoration: none;
      color: rgba(54, 54, 54, 0.068);
      a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 2px; /*80*/
        list-style: none;
        color: rgb(54, 54, 54);
        text-decoration: none;
        filter: opacity(30%);
        transition-duration: 1s;
        &:hover {
          filter: opacity(100%);
        }
      }
    }
    img {
      width: 6px; /*60*/
      height: 5px; /*50*/
    }
  }
  .derechos {
    background-color: rgb(214, 213, 213);
    p {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      text-align: center;
      color: rgb(54, 54, 54);
      padding: 20px;
    }
  }
}
