/*---------HEADER-----------*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: brown;
  ul {
    list-style: none;
    li {
      a {
        padding-right: 100px;
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        color: white;
        font-size: 20px;
      }
    }
  }
}
