/*---------INDEX-----------*/
body {
  background-color: rgb(214, 213, 213);
}
.main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#mainhe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  ul {
    list-style: none;
    li {
      a {
        padding-right: 50px;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        color: rgb(54, 54, 54);
        font-size: 25px;
        transition-duration: 1s;
        &:hover {
          color: red;
        }
      }
    }
  }
}
#menu {
  #Principio {
    height: 1000px;
    display: grid;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-size: 70px;
      padding-bottom: 10px;
    }
    .izquierda {
      margin-right: 300px;
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      text-align: center;
      font-size: 90px;
      animation: desplegarI 2s ease-in-out;
      @keyframes desplegarI {
        0% {
          margin-right: 800px;
        }
        100% {
          margin-right: 300px;
        }
      }
    }
    .derecha {
      margin-left: 300px;
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      text-align: center;
      font-size: 90px;
      animation: desplegarD 2s ease-in-out;
      @keyframes desplegarD {
        0% {
          margin-left: 800px;
        }
        100% {
          margin-left: 300px;
        }
      }
    }
    h3 {
      padding: 50px;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-size: 70px;
    }
  }
  #Education {
    height: 800px;
    display: none;
    justify-content: space-around;
    align-items: center;
    .izqui {
      display: flex;
      flex-direction: column;
      border-left: 2px solid red;
      padding: 20px;
      div {
        display: flex;
        padding: 20px;
        img {
          width: 70px;
          height: 70px;
        }
        p {
          font-family: "Montserrat", sans-serif;
          font-size: 20px;
          width: 350px;
          margin-left: 20px;
        }
      }
    }
    .dere {
      display: flex;
      flex-direction: column;
      border-left: 2px solid red;
      padding: 20px;
      div {
        display: flex;
        padding: 20px;
        img {
          width: 70px;
          height: 70px;
        }
        p {
          font-family: "Montserrat", sans-serif;
          font-size: 20px;
          width: 350px;
          margin-left: 20px;
        }
      }
    }
  }
  #Experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 800px;
    padding: 50px;
    .divtraba {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px;
      #trabajo1 {
        h1 {
          font-family: "Poppins", sans-serif;
          color: rgb(54, 54, 54);
          font-size: 30px;
          font-weight: 500;
          span {
            padding: 30px;
            font-family: "Poppins", sans-serif;
            color: red;
            font-size: 30px;
          }
        }
        p {
          display: none;
          width: 800px;
          padding: 10px;
          margin-left: 75px;
          font-family: "Poppins", sans-serif;
          font-size: 35px;
          text-shadow: 0 0 2px red;
        }
      }
      #trabajo2 {
        a {
          font-family: "Poppins", sans-serif;
          color: rgb(54, 54, 54);
          font-size: 30px;
          font-weight: 500;
          text-decoration: none;
          span {
            padding: 30px;
            font-family: "Poppins", sans-serif;
            color: red;
            font-size: 30px;
          }
        }
        p {
          display: none;
          width: 800px;
          padding: 10px;
          margin-left: 75px;
          font-family: "Poppins", sans-serif;
          font-size: 35px;
          text-shadow: 0 0 2px red;
        }
      }
      #trabajo3 {
        h1 {
          font-family: "Poppins", sans-serif;
          color: rgb(54, 54, 54);
          font-size: 30px;
          font-weight: 500;
          span {
            padding: 30px;
            font-family: "Poppins", sans-serif;
            color: red;
            font-size: 30px;
          }
        }
        p {
          display: none;
          width: 800px;
          padding: 10px;
          margin-left: 75px;
          font-family: "Poppins", sans-serif;
          font-size: 35px;
          text-shadow: 0 0 2px red;
        }
      }
    }
  }
  #Jobs {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1500px;
    .tarjetas {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        img {
          width: 700px;
          height: 450px;
          object-fit: cover;
          border-radius: 10px;
          border: 8px solid rgb(54, 54, 54);
          filter: blur(2px);
          transition: transform 1s ease;
          &:hover {
            transform: scale(1.1);
            filter: blur(0px);
          }
        }
      }
      h1 {
        padding: 30px;
        text-align: center;
        color: rgb(54, 54, 54);
        font-family: "Montserrat", sans-serif;
      }
      p {
        color: rgb(54, 54, 54);
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
      }
    }
    .tarjetas2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        .img2 {
          width: 700px;
          height: 450px;
          object-fit: cover;
          border-radius: 10px;
          border: 8px solid rgb(54, 54, 54);
          filter: blur(2px);
          transition: transform 1s ease;
          &:hover {
            transform: scale(1.1);
            filter: blur(0px);
          }
        }
      }
      h1 {
        padding: 30px;
        text-align: center;
        color: rgb(54, 54, 54);
        font-family: "Montserrat", sans-serif;
      }
      p {
        color: rgb(54, 54, 54);
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
      }
    }
  }
  #AboutMe {
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    div {
      h1 {
        color: rgb(54, 54, 54);
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        font-family: "Montserrat", sans-serif;
        font-size: 45px;
        text-align: left;
        padding: 20px;
      }
    }
    div {
      h2 {
        color: rgb(54, 54, 54);
        border-left: 3px solid red;
        font-family: "Montserrat", sans-serif;
        font-size: 27px;
        text-align: left;
        padding: 20px;
        width: 700px;
      }
      h3 {
        color: rgb(54, 54, 54);
        padding: 20px;
        font-family: "Montserrat", sans-serif;
        text-align: left;
        border-left: 3px solid red;
        font-size: 30px;
        width: 700px;
      }
    }
    img {
      width: 400px;
      height: 500px;
      filter: blur(1px);
      transition: transform 1s ease;
      &:hover {
        transform: scale(1.1);
        filter: blur(0px);
      }
    }
  }
}

.mainTres {
  height: 750px;
  p {
    margin-top: 50px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    text-align: center;
    color: rgb(54, 54, 54);
  }
  .contenedor1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    .habilidades {
      h2 {
        font-family: "Montserrat", sans-serif;
        color: rgb(54, 54, 54);
        padding: 15px;
        text-align: center;
      }
      .barra {
        width: 300px;
        height: 20px;
        background-color: rgba(255, 0, 0, 0.404);
        border-radius: 10px;
        border-right: 2px solid rgba(255, 0, 0, 0.404);
        border-bottom: 2px solid rgba(255, 0, 0, 0.404);
        box-shadow: 7px 5px 37px -1px rgba(0, 0, 0, 0.479);
        -webkit-box-shadow: 7px 5px 37px -1px rgba(0, 0, 0, 0.479);
        -moz-box-shadow: 7px 5px 37px -1px rgba(0, 0, 0, 0.479);
      }
      .progreso {
        width: var(--w);
        height: 20px;
        background-color: red;
        border-radius: 10px;
        animation: aumentar 3s ease-in-out;
        @keyframes aumentar {
          0% {
            width: 5%;
          }
          100% {
            width: var(--w);
          }
        }
      }
    }
  }
}
.contenedor2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 300px;
  .habilidades {
    h2 {
      font-family: "Montserrat", sans-serif;
      color: rgb(54, 54, 54);
      padding: 15px;
      text-align: center;
    }
    .barra {
      width: 300px;
      height: 20px;
      background-color: rgba(255, 0, 0, 0.404);
      border-radius: 10px;
      border-right: 2px solid rgba(255, 0, 0, 0.404);
      border-bottom: 2px solid rgba(255, 0, 0, 0.404);
      box-shadow: 7px 5px 37px -1px rgba(0, 0, 0, 0.479);
      -webkit-box-shadow: 7px 5px 37px -1px rgba(0, 0, 0, 0.479);
      -moz-box-shadow: 7px 5px 37px -1px rgba(0, 0, 0, 0.479);
      .progreso {
        width: var(--w);
        height: 20px;
        background-color: red;
        border-radius: 10px;
        animation: aumentar 3s ease-in-out;
        @keyframes aumentar {
          0% {
            width: 5%;
          }
          100% {
            width: var(--w);
          }
        }
      }
    }
  }
}
