/*------MEDIAQUERY------*/

@media screen and (max-width: 1420px) {
  .main #menu #Jobs h1 {
    padding: 20px;
  }
  .main #menu #Jobs #parte1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1360px) {
  #menu #AboutMe div h1 {
    writing-mode: horizontal-tb;
    transform: rotate(-360deg);
    font-size: 35px;
    text-align: center;
    padding: 10px;
  }
  #menu #AboutMe div h2 {
    font-size: 20px;
    width: 500px;
  }
  #menu #AboutMe div h3 {
    font-size: 23px;
    width: 500px;
  }
  #menu #AboutMe img {
    width: 200px;
    height: 250px;
    filter: blur(1px);
    transition: transform 1s ease;
    &:hover {
      filter: blur(0px);
    }
  }
}
@media screen and (max-width: 1210px) {
  #menu #AboutMe {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #menu #Principio .izquierda {
    font-size: 60px;
    animation: desplegarI 2s ease-in-out;
    @keyframes desplegarI {
      0% {
        margin-right: 500px;
      }
      100% {
        margin-right: 100px;
      }
    }
  }
  #menu #Principio .derecha {
    font-size: 60px;
    animation: desplegarD 2s ease-in-out;
    @keyframes desplegarD {
      0% {
        margin-left: 500px;
      }
      100% {
        margin-left: 100px;
      }
    }
  }
}
@media screen and (max-width: 1146px) {
  #footer h1 {
    padding: 10px;
  }
  .mainTres .carrusel span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
  }
  .mainTres .carrusel span img {
    width: 100px;
    height: 100px;
  }
  .main #menu #Education {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .main #menu #Education .dere {
    border-left: none;
    border-right: 2px solid red;
  }
}
@media screen and (max-width: 962px) {
  .main #mainhe #menu #salirmenu img {
    width: 15px;
    height: 15px;
  }
  .main #menu #Experience .divtraba #trabajo3 #trabajo3p {
    width: 500px;
    font-size: 25px;
  }
  .main #menu #Experience .divtraba #trabajo2 #trabajo2p {
    width: 500px;
    font-size: 25px;
  }
}
@media screen and (max-width: 858px) {
  .main #menu #Experience .divtraba #trabajo2 a {
    font-size: 20px;
  }
  .main #menu #Experience .divtraba #trabajo2 a span {
    font-size: 20px;
  }
  .main #menu #Experience .divtraba #trabajo3 a {
    font-size: 20px;
  }
  .main #menu #Experience .divtraba #trabajo3 a span {
    font-size: 20px;
  }
  #menu #Principio .izquierda {
    margin-right: 150px;
    font-size: 50px;
  }
  #menu #Principio .derecha {
    margin-left: 150px;
    font-size: 50px;
  }
}
@media screen and (max-width: 634px) {
  .mainTres .carrusel span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(150px);
  }
  .mainTres .carrusel span img {
    width: 80px;
    height: 80px;
  }
  .main #menu #Experience .divtraba #trabajo2 a {
    font-size: 15px;
  }
  .main #menu #Experience .divtraba #trabajo2 a span {
    font-size: 15px;
  }
  .main #menu #Experience .divtraba #trabajo3 a {
    font-size: 15px;
  }
  .main #menu #Experience .divtraba #trabajo3 a span {
    font-size: 15px;
  }
  .main #menu #Experience .divtraba #trabajo3 #trabajo3p {
    width: 400px;
    font-size: 20px;
  }
  .main #menu #Experience .divtraba #trabajo2 #trabajo2p {
    width: 400px;
    font-size: 20px;
  }
  #menu #AboutMe div h2 {
    font-size: 15px;
    width: 400px;
  }
  #menu #AboutMe div h3 {
    font-size: 18px;
    width: 400px;
  }
  #menu #Principio .izquierda {
    margin-right: 100px;
    font-size: 40px;
  }
  #menu #Principio .derecha {
    margin-left: 100px;
    font-size: 40px;
  }
  #footer .derechos p {
    font-size: 15px;
  }
  .main #menu #Education .izqui div p {
    width: 250px;
  }
  .main #menu #Education .dere div p {
    width: 250px;
  }
  .main #mainhe #boton-menu {
    left: 25px;
  }
}
@media screen and (max-width: 746px) {
  .main #mainhe #menu ul li a {
    font-size: 35px;
    -webkit-text-stroke-width: 0.5px;
  }
  .main #menu #Jobs #parte1 #pachux {
    width: 500px;
    height: 300px;
  }
  .main #menu #Jobs #parte1 #arquiaires {
    width: 500px;
    height: 300px;
  }
  .main #menu #Experience {
    padding: 0px;
  }
  .main #menu #Experience .divtraba {
    padding: 0px;
  }
  .main #menu #Experience .divtraba #trabajo3 #trabajo3p {
    margin-left: 0px;
    width: 80%;
  }
  .main #menu #Experience .divtraba #trabajo2 #trabajo2p {
    margin-left: 0px;
    width: 80%;
  }
  .main #menu #Experience .divtraba #trabajo2 a {
    padding: 5px;
  }
  .main #menu #Experience .divtraba #trabajo2 a span {
    padding: 0px;
  }
  .main #menu #Experience .divtraba #trabajo3 a {
    padding: 5px;
  }
  .main #menu #Experience .divtraba #trabajo3 a span {
    padding: 0px;
  }
  .main #menu #Experience .divtraba #trabajo2 {
    margin-left: 10px;
  }
  .main #menu #Experience .divtraba #trabajo3 {
    margin-left: 10px;
  }
}
@media screen and (max-width: 526px) {
  .main #menu #Jobs h1 {
    padding: 0px;
    font-size: 40px;
  }
  .main #menu #Jobs #parte1 #pachux {
    width: 400px;
    height: 250px;
  }
  .main #menu #Jobs #parte1 #pachux #pachuxcont p {
    font-size: 12px;
  }
  .main #menu #Jobs #parte1 #arquiaires {
    width: 400px;
    height: 250px;
  }
  .main #menu #Jobs #parte1 #arquiaires #arquicont p {
    font-size: 12px;
  }
}
@media screen and (max-width: 506px) {
  .main #mainhe #boton-menu {
    font-size: 18px;
  }
  #footer .derechos p {
    font-size: 10px;
  }
}

@media screen and (max-width: 490px) {
  .mainTres .carrusel span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(100px);
  }
  .mainTres .carrusel span img {
    width: 70px;
    height: 70px;
  }
  #footer h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 467px) {
  .main #menu #Education .izqui div p {
    width: 150px;
    font-size: 15px;
    padding: none;
  }
  .main #menu #Education .dere div p {
    width: 150px;
    font-size: 15px;
    padding: none;
  }

  .main #menu #Experience .divtraba #trabajo3 #trabajo3p {
    font-size: 15px;
  }
  .main #menu #Experience .divtraba #trabajo2 #trabajo2p {
    font-size: 15px;
  }
}
@media screen and (max-width: 443px) {
  .main #menu #AboutMe div h1 {
    font-size: 25px;
  }
  #menu #AboutMe div h2 {
    font-size: 15px;
    width: 300px;
  }
  #menu #AboutMe div h3 {
    font-size: 15px;
    width: 300px;
  }
  .main #menu #Jobs #parte1 #pachux {
    width: 350px;
    height: 250px;
  }
  .main #menu #Jobs #parte1 #arquiaires {
    width: 350px;
    height: 250px;
  }
  #menu #Principio .izquierda {
    font-size: 30px;
  }
  #menu #Principio .derecha {
    font-size: 30px;
  }
}
@media screen and (max-width: 370px) {
  .main #menu #Jobs #parte1 #pachux {
    width: 300px;
    height: 200px;
  }
  .main #menu #Jobs #parte1 #arquiaires {
    width: 300px;
    height: 200px;
  }
}
